<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
      <!-- write to c:\Users\[user]\AppData\Local\MyWpfTemplate.log -->
      <!-- target name="logfile" type="File" archiveAboveSize="1048576" maxArchiveFiles="9" fileName="${specialfolder:folder=LocalApplicationData}/MyWpfTemplate.log" /-->
      <!-- write to c:\Users\[user]\AppData\Roaming\MyWpfTemplate.log -->
      <!-- target name="logfile" type="File" archiveAboveSize="1048576" maxArchiveFiles="9" fileName="${specialfolder:folder=ApplicationData}/MyWpfTemplate.log" /-->
      <!-- write to the dir where MyWpfTemplate.exe is -->
      <target name="logfile" type="File" archiveAboveSize="1048576" maxArchiveFiles="9" fileName="LogFile.log" />
  </targets>
  <rules>
      <!--  internalLogLevel="Trace|Debug|Info|Warn|Error|Fatal" -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
